body{
    margin:0 auto;
    background-image: url('../images/Spawn2.1.png') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 17px;
    line-height: 1.6;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.button {
  background: black;
  opacity: 0;
  cursor: pointer;
  height: 300px;
  width: 250px;
  margin-bottom: 200px;
  margin-right: 20px;
}

.button2{
  background: rgba(0, 0, 0, 0);
  border: 0;
  position: relative;
  height: 10px;
  margin-left: 600px;
  margin-top : 130px;
}

.button2 :hover {
  cursor: pointer;
}


.modal {
  display: none;
  position: fixed;
  height: 100%;
}

.modal1:hover{
  border: solid 1px green;
}

.modal2:hover{
  border: solid 1px green;
}

.modal1 {
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.30);
  border-radius: 5px;
  border: solid 1px white;
  margin-right: 650px;
  margin-left: 30px;
  display: flex;
  color: white;
  position:absolute;
}


.modal2{
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.30);
  border-radius: 5px;
  border: solid 1px white;
  margin-right: 650px;
  margin-left: 30px;
  display: flex;
  padding-right: 20px;
  color: white;
  position: relative;
  margin-top: -155px;
}


.close {
  color: white;
  font-size: 30px;
  display: flex;
  margin-top: 28px;
  margin-left: 630px;
  margin-right: 630px;
}

.close:hover,
.close:focus {
  color: green;
  text-decoration: none;
  cursor: pointer;
}

.start{
  padding:4px;
	font:bold 13px Arial;
	background-color :black;
	color:green;
	border-radius:2px;
	width:100px;
	border:1px solid white;
  margin-left: 25px;
}

.start:hover{
  color: green;
  border:2px solid green;
  box-shadow:1px 1px 3px green;
}